<div class="article">
    <h2>The Value of Money</h2>
    <figure>
        <img src="./img/money.jpg" alt="money">
        <figcaption>Money</figcaption>
    </figure>
    <p>The value of money is determined by the demand for it, just like the value of goods and services. To measure the value of the dollar. The first is how much the dollar will buy in foreign currencies. That’s what the exchange rate measures. Forex traders on the foreign exchange market determine exchange rates. They take into account supply and demand, and then factor in their expectations for the future. For this reason, the value of money fluctuates throughout the trading day. </p>
    <p>No matter how it's measured, the dollar's value declined from 2000 to 2011. That was due to a relatively low fed funds rate, a high federal debt, and a slow-growth economy. Since 2011, the U.S. dollar has risen in value despite these factors. Why? Most of the economies in the world had even slower growth. That made traders want to invest in the dollar as a safe haven. As a result, the dollar strengthened against the euro. It made travel to Europe very affordable.</p>
</div>
<hr>
<div class="article">
    <h2>GMO food</h2>
    <figure>
        <img src="./img/dna.jpg" alt="DNA">
        <figcaption>DNA</figcaption>
    </figure>
    <p>A GMO, or genetically modified organism, is a plant, animal, microorganism or other organism whose genetic makeup has been modified in a laboratory using genetic engineering or transgenic technology. This creates combinations of plant, animal, bacterial and virus genes that do not occur in nature or through traditional crossbreeding methods.</p>
    <p>Genetic modification affects many of the products we consume on a daily basis. As the number of GMOs available for commercial use grows every year, the Non-GMO Project works diligently to provide the most accurate, up-to-date standards for non-GMO verification.</p>
    <p>In order for a product to be Non-GMO Project Verified, its inputs must be evaluated for compliance with our standard, which categorizes inputs into three risk levels:</p>

</div>
<hr>
<div class="article">
    <h2>The View of World in 2100</h2>
    <figure>
        <img src="./img/future.jpg" alt="future map">
        <figcaption>Future</figcaption>
    </figure>
    <p>The Internet will be in your contact lens. Imagine blinking, and then instantly going on line, accessing your home office, or home entertainment system anywhere or anytime. Computers will disappear, as will cellphones, clocks, watches, and MP3 players. Chips, costing less than a penny apiece, will be hidden by the millions in the environment. We will be able to command these hidden computers telepathically, directly via the mind. </p>
    <p>The human life span will be extended. Aging will be slowed down by attacking it at the molecular and genetic level. We may be able to “cruise” at the age of 30 almost indefinitely by growing new organs as they wear out or become diseased, ingesting a cocktail of proteins and enzymes, using gene therapy to alter genes that may slow down due to aging, and the old adage of maintaining a healthy lifestyle. Genetic engineering will also allow us to create “designer children,” so parents can choose the physical (and perhaps even intellectual) characteristics of their children. (Laws will have to be passed to regulate this powerful technology.) Some of these children will be designed to have “superhuman abilities,” or become stronger, more intelligent, and happier individuals.</p>
</div>
<hr>
